html,
body {
    margin: 0px;
    padding: 0px;
}

img {
    width: 150px;
    height: 150px;
}
header {
    border-bottom: 3px double lightgray;
    text-align: center;
    display: flex;
}
h1 {
    font-size: 42px;
}
span{
    color:red;
    margin-left: 10px;
}

.wrapper{
    margin: auto;
    width: 70%;
}

.form-wrapper{
    margin: auto;
    width:30%
}

.button {
    margin:10px;
}

.navBarButtons{
    margin-left: auto;
    align-self: flex-end;
}

.gallery{
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
}

.item-card{
    margin: 10px;
    width: 240px;
}

.detail-page{
    display: flex;
    
}